/* This is where I write all my css || Did you know? */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
.App {
    padding: 20px;
}

* {
    padding: 0;
    margin: 0;
}

textarea {
    width: 100%;
    color: rgb(0, 255, 13);
    background-color: rgb(49, 49, 49);
    border: none;
    padding: 20px;
    border-radius: 10px;
}

textarea:focus {
    outline: 4px solid rgba(255, 255, 255, 0.37);
}

#wrapper {
    font-family: 'Paytone One', sans-serif;
    color: rgb(0, 255, 13);
    font-size: x-large;
    padding: 20px 10px;
}

.text-small {
    font-size: medium;
    color: rgb(0, 255, 13);
    padding: 10px;
}

#r {
    background-color: rgb(49, 49, 49);
    height: 20%;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    overflow-x: scroll;
    margin: 10px 0px;
    color: rgb(0, 255, 13);
}

#decoded {
    background-color: rgb(0, 173, 52);
    height: 20%;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    overflow-x: scroll;
    margin: 10px 0px;
    color: rgb(255, 255, 255);
}

body {
    background-color: #141414;
    font-family: 'Paytone One', sans-serif;
}

.inputs {
    background-color: rgb(49, 49, 49);
    color: rgb(0, 255, 13);
    font-size: large;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.inputs:focus {
    outline: 1px solid rgba(255, 255, 255, 0.37);
}

.btn {
    background: rgb(17, 255, 48);
    color: rgb(36, 36, 36);
    font-size: large;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.btn:hover {
    background: rgb(30, 30, 30);
    color: rgb(0, 255, 13);
    box-shadow: 0px 2px 5px rgb(0, 255, 13);
}

.btn:disabled{
    background: rgb(127, 206, 150);
    color: rgb(68, 68, 68);
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 104, 31);
    border-radius: 10px;
}

#forkongithub a {
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#forkongithub a:hover {
    background: rgb(0, 219, 18);
    color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

.data-section{
    position: relative;
}

.data-section input[type=file]{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: #141414;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.data-section input::-webkit-file-upload-button{
    visibility: hidden;
}

.data-section input::before{
    content: 'File Uploading...';
    display: inline-block;
    background: #141414;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

@media screen and (min-width:800px) {
    #forkongithub {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }
    #forkongithub a {
        width: 200px;
        position: absolute;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}
